@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Soft-black: #111;
    --aqua-color: #009899;
    --white-color: #fff;
    --gray-color: #d9d9d9;
    --lightest-gray-color: #fafafa;
    --Blue-bright: #2464DB;
}

/* Common css start here  */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.my-40 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

p {
    margin-bottom: 0;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}

ul {
    margin-bottom: 0;
}

.theme-filled-btn {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
    transform: skew(-10deg);
}

.theme-filled-btn:hover {
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    color: var(--white-color);
}

.theme-outline-btn {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--aqua-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
    transform: skew(-10deg);
}

.theme-outline-btn:hover {
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    color: var(--white-color);
}

.theme-btn {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--aqua-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
    transform: skew(-10deg);
}

.theme-btn:hover {
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    color: var(--white-color);
}

.rich-text {
    font-family: "Urbane-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.section-title {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.fearured-title {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.fearured-lg-title {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.title-heading {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.sm-title-heading {
    font-family: "Urbane-Light";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

/* Common css end here  */

/* desktop header css strat here */

/* header-start here */

.header-container {
    padding-right: 120px;
    padding-left: 120px;
}

.header-box {
    display: flex;
}

.logo-box {
    width: 30%;
    padding: 20px 0;
}

.right-nav-box {
    width: 30%;
}

.centaral-nav-box {
    width: 40%;
}

.desktop-header .centaral-nav-link,
.desktop-header .left-nav-link {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    text-align: right;
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.desktop-header .centaral-nav-link {
    padding: 0 17px;
    color: var(--white-color);
}

.desktop-header li {
    list-style: none;
}

.grecaptcha-badge {
    display: none;
}

.desktop-header {
    background: var(--Soft-black);
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.centaral-nav {
    height: 100%;
}

.centaral-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.centaral-nav ul li {
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 320px;
    position: relative;
}

.header-logo img {
    position: absolute;
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.right-nav {
    height: 100%;
}

.right-nav .right-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    column-gap: 78px;
}

.right-nav .right-list li {
    padding: 0 10px;
    color: var(--white, #FFF);
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-nav .right-list li a {
    color: var(--white, #FFF);
    text-align: right;
    font-family: "League Spartan";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-nav .right-list li a span {
    color: var(--Blue-bright);
    font-family: "League Spartan";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.location-text {
    color: var(--white, #FFF) !important;
}

.right-nav .right-list .location-dropdown {
    position: relative;
}

.right-nav .right-list .location-dropdown ul {
    position: absolute;
    padding: 24px 48px 32px 48px;
    background: var(--Soft-black, #111);
    width: 340px;
    top: 51px;
    right: 0;
}

.right-nav .right-list .location-dropdown ul li {
    padding: 12px 0;
}

.header-brand-logos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.company-dropdown i {
    font-size: 20px;
    cursor: pointer;
}

.company-dropdown {
    color: var(--white, #FFF);
    text-align: right;
    font-family: "League Spartan";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-search-box {
    padding: 0 17px;
}

.header-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-search span {
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
}

.header-search input {
    border: none;
    outline: none;
    box-shadow: none;
    font-family: "Urbane-Light";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.header-search input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.location-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-location-box {
    cursor: pointer;
    text-align: right;
}

.header-location-box h6 {
    color: var(--white-color);
    margin-bottom: 0;
    text-align: right;
    font-family: "League Spartan", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.header-location-box p a {
    color: var(--aqua-color);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-resources-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-resources-box a {
    font-family: "Urbane-Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--Soft-black);
}

.header-resources-box svg {
    cursor: pointer;
}

/* mega menus start here */
.mega-menu-wrapper {
    position: relative;
    background: var(--white-color);
    box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.3);
}

.close-mega-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 23px;
    color: var(--Soft-black);
    opacity: 0.5;
}

.close-mega-menu span {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 5px;
}

.mega-menu-box {
    padding: 40px 15px 65px 15px;
    max-width: calc(100% - 25%);
    margin: 0 auto;
    display: none;
}

.mega-menu-col-1 h6 {
    color: var(--aqua-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.mega-menu-col-1 ul li>a {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    display: block;
}

.mega-menu-col-1 .top-list-box {
    margin-bottom: 56px;
}

.menu-card {
    position: relative;
    margin-bottom: 8px;
}

.mega-boats-box {
    display: flex;
    flex-wrap: wrap;
}

.mega-menu-container {
    display: flex;
}

.mega-menu-col-1 {
    width: 42%;
    display: flex;
}

.mega-menu-col-2 {
    width: 58%;
}

.mega-menuinner-col {
    width: 50%;
}

.mega-menu-col-2 h5 {
    color: var(--aqua-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding-left: 7.5px;
}

.mega-boats-col {
    width: calc(100% / 3);
    padding: 0 4px;
}

.menu-card-img {
    position: relative;
    padding-top: 56%;
}

.menu-card-logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 120px;
    margin: 0 auto;
}

.menu-card-logo>.menu-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-card-img>.menu-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-card-title {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    text-align: center;
}

.menu-card-title h6 {
    color: #fff;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.service-mega-menu {
    display: flex;
    width: calc(100% - 30%);
    margin: 0 auto;
}

.service-dropdown-card {
    width: calc(100% / 3);
    padding: 0 4px;
    display: block;
}

.service-mega-menu-img {
    position: relative;
    padding-top: 56%;
}

.service-mega-menu-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-mega-menu-title {
    margin-top: 8px;
}

.service-mega-menu-title h6 {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
}

/* dropdown start here */
.toggle-dropdown {
    position: relative;
}

.sm-dropdown {
    position: absolute;
    top: 100px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    min-width: 300px;
    background: #000;
    height: auto !important;
    padding: 10px 55px 38px 40px;
    display: none !important;
    z-index: 100;
}

.sm-dropdown li a {
    color: #fff;
    font-family: Oswald-semibold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.doss-dropdown.show-mega-menu {
    display: block !important;
}

/* form css start here */

.form-sec {
    background: var(--lightest-gray-color);
    padding: 64px 0 120px 0;
    position: relative;
}

.scroll-down {
    position: absolute;
    top: -120px;
    left: 0;
    visibility: hidden;
}

.custom-form-control:placeholder-shown {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.custom-form-control {
    display: block;
    width: 100%;
    padding: 16px;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Soft-black);
    opacity: 0.6;
    border: 1px solid var(--gray-color);
    background: var(--white-color);
}

.custom-form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--gray-color);
}

.custom-textarea {
    display: block;
    width: 100%;
    padding: 16px;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Soft-black);
    opacity: 0.6;
    border: 1px solid var(--gray-color);
    background: var(--white-color);
}

.form-subtitle {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.form-title-heading {
    text-align: center;
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.form-description {
    text-align: center;
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.form-box {
    max-width: 686px;
    margin: 0 auto;
    padding: 0 15px;
}

.form-box .form-col {
    width: calc(50% - 8px);
}

.form-box .form-row {
    gap: 16px;
}

/* mobile header start here */

.mobile-header {
    display: none;
}

.mobile-header-list {
    display: none;
    position: fixed;
    top: 89px;
    right: 0;
    z-index: 999;
    width: 100%;
    max-width: 992px;
    height: calc(100vh - 90px);
    background: var(--Soft-black);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

/* when menu is active */
.mobile-header-list.mobile-menu-show {
    display: block;
    transform: translateX(0);
}

.close-icon {
    display: none;
}

.mobile-header-list ul {
    padding: 0;
}

.mds-nav-tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 35px 35px;
    padding: 0 30px;
    column-gap: 10px;
}

.nav-btn {
    color: #222;
    text-align: center;
    font-family: 'acumin-Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    display: inline-block;
    padding: 14px 25px 14px 23px !important;
    border: 1px solid rgba(34, 34, 34, 0.10);
    background: rgba(34, 34, 34, 0.10);
    width: 110px;
    height: 45px;
    list-style: none;
}

.sub-header-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-header-box span {
    margin-right: 30px;
    margin-top: 30px;
}

.nav-btn.active {
    background: #222;
    color: #FFF;
    border: 1px solid #222;
}

.mobile-nav-box {
    display: none;
    position: fixed;
    top: 90px;
    right: 0;
    z-index: 999;
    width: 100%;
    max-width: 992px;
    height: calc(100vh - 90px);
    background: var(--Soft-black);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.mobile-nav-box ul li {
    padding: 6px 0;
}

.mobile-nav-box .dropdown-header p {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--white-color);
}

.mobile-nav-box .dropdown-header p span {
    color: var(--Blue-bright);
}

.mobile-nav-box .dropdown-header h6 {
    color: var(--white-color);
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 0px 0px 0;
    color: var(--white-color) !important;
}

.mobile-nav-box .dropdown-menu-link {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.mobile-nav-box.show-mobile-menu {
    display: block;
    transform: translateX(0);

}

.mobile-nav-box ul {
    padding-left: 40px;
}

.mobile-nav-box ul li {
    list-style: none;
}

.dropdown-header {
    padding-left: 40px;
    padding-right: 40px;
}

.mobile-header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    width: 100%;
    height: 90px;
    background: var(--white-color);
    z-index: 500;
}

.mobile-header-img {
    max-height: 90px;
    height: 100%;
    max-width: 243px;
}

.sub-header {
    background: #FFF;
    height: 60px;
}

.mobile-header-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.sub-header ul li {
    list-style: none;
}

.sub-header ul li a {
    padding: 22px 33px;
    display: inline-block;
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sub-header ul li a span.fa {
    padding-right: 10px;
}

.header-bg {
    border-bottom: 1px solid var(--Soft-black);
    background: var(--Soft-black);
}

.custom-toggle-icon span.fa {
    font-size: 30px;
    color: var(--white-color);
}

.custom-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Oswald-SemiBold";
    text-transform: uppercase;
}

.custom-nav-link:hover {
    text-decoration: none;
    color: black;
}

.mobile-header-list ul li {
    list-style: none;
    padding: 0 30px;
}

.drodown-box {
    overflow: hidden;
}

.submenu-nav-link {
    display: block;
    padding: 13px 0;
    color: var(--white-color);
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.submenu-nav-link:hover {
    color: var(--white-color);
}

.menu-content-box {
    padding: 15px 0;
}

.dropdown-menu-link {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.menu-logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.menu-logo-box .menu-logo {
    max-width: calc(100% / 4);
    padding: 15px 10px;
    width: 100%;

}

.menu-logo-box .menu-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.dropdown-menu-link:hover {
    color: var(--Soft-black);
}

.content-menu.mobile-menu-show {
    display: block;
}

.content-menu {
    display: none;
}

.nav-search {
    border: none !important;
}

.nav-search:focus {
    box-shadow: none;
    outline: none;
}

.mobile-header-number {
    text-decoration: none;
    color: #fff;
}

.mobile-header-number:hover {
    text-decoration: none;
    color: #fff;
}

/* mobile header end here */

/* footer css start here */

.newsletter {
    background-color: var(--white-color);
    text-align: center;
    color: #000;
    padding: 40px 20px;
    border-bottom: 1px solid var(--gray-color);
}

footer {
    background-color: var(--white-color);
}

.newsletter h2 {
    color: var(--Soft-black);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.newsletter p {
    color: var(--Soft-black);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 46px;
}

.newsletter-form {
    margin: 20px auto;
    max-width: 350px;
    border: 1px solid #ccc;
    display: flex;
    height: 41px;
}

.newsletter-form input {
    padding: 10px;
    width: calc(100% - 30px);
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.newsletter-form button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: normal;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
    color: var(--white-color);
    font-size: 16px;
    border: 1px solid var(--aqua-color);
    padding: 7px 9px;
    line-height: normal;
    background: var(--aqua-color);
}

.footer-box {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.footer-grid {
    display: flex;
    gap: 40px;
    padding: 60px 40px;
}

.footer-col-1 {
    width: 75%;
    display: flex;
    position: relative;
    gap: 40px;
}

.footer-col-2 {
    width: 25%;
}

.footer-mobile-box {
    display: none;
}

.footer-column {
    width: calc(100% / 4);
}

.footer-column h4,
.footer-column h3 {
    color: var(--aqua-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.footer-column ul {
    list-style: none;
    padding-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-column ul li {
    cursor: pointer;
    padding: 16px 0;
}

.footer-column ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.arrow-link {
    border-bottom: 1px solid var(--gray-color);
}

.footer-col-1::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    height: 300px;
    background: var(--gray-color);
}

.footer-logo {
    max-width: 315px;
    width: 100%;
    margin: 0 auto 33px auto;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.address {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.phone a {
    margin-top: 10px;
    color: var(--aqua-color);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

.footer-container {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.bottom-links {
    position: relative;
    padding: 0 15px;
    color: #d3d3d3b8;
    text-align: center;
    font-family: Gantari;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-links+.bottom-links::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 1px;
    height: 15px;
    background: var(--Soft-black);
    opacity: 0.5;
    transform: translateY(-46%);
}

.footer-bottom ul li {
    list-style: none;
    color: var(--Soft-black);
    opacity: 0.5;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 15px;
}

.footer-bottom ul li a {
    color: var(--Soft-black);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.recaptcha-disclaimer {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0;
}

.footer-bottom {
    padding-bottom: 15px;
}

.locations {
    text-align: center;
}

.footer-company-links li {
    padding: 10px 0 !important;
}

.last-accordion {
    border-bottom: 1px solid var(--gray-color);
}

/* hom page css start here */

.home-banner {
    position: relative;
    padding-top: 42%;
}

.home-banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner-btn {
    position: absolute;
    bottom: 123px;
    transform: translateX(-50%);
    left: 50%;
}

.home-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    transform: translate(-50%, -50%);
}

.banner-title {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

.banner-subtitle {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.brand-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.brand-items {
    list-style: none;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    height: 100px;
    background-color: black;
}

.brand-items a img {
    padding: 17px 20px;
    max-width: 200px;
    width: 100%;
}

.brand-sec {
    padding: 80px 0;
}

.arrival-slider .home-inventory-cards .inventory-card-img {
    position: relative;
    padding-top: 70%;
}

.arrival-slider .home-inventory-cards .inventory-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boat-condition-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.specs-list-item {
    list-style: none;
    position: relative;
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

.specs-list-item+.specs-list-item::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 14px;
    background: var(--gray-color);
}

.arrival-slider-sec-header {
    margin-bottom: 40px;
}

.boat-title a {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.inventory-card-price {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.arrival-slider .owl-nav {
    display: block !important;
}

.arrival-slider .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.arrival-slider .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.madis-container {
    width: calc(100% - 19%);
    margin: 0 auto;
    display: flex;
}

.madis-col {
    width: 50%;
}

.madis-col-img-box {
    position: relative;
    padding-top: 80%;
}

.madis-col-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.madis-col-content {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.madis-col-content h3 {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.featured-inventory-sec {
    padding-top: 80px;
}

.financing-sec {
    display: flex;
    max-width: 1400px;
    margin: 80px auto 80px auto;
    width: 100%;
}

.financing-col {
    width: calc(100% / 3);
    position: relative;
    padding: 55px 47px;
}

.sm-financing-sec {
    display: flex;
    gap: 20px;
}

.financing-col-1 {
    width: 50px;
    height: 50px;
    background: var(--Soft-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.financing-col-1 img {
    object-fit: contain;
}

.financing-col-2 {
    width: calc(100% - 50px);
}

.financing-col-2 h6 {
    color: var(--Soft-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.financing-col-2 p {
    margin-bottom: 0;
}

.financing-col-2 a {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.financing-col+.financing-col::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 1px;
    height: 150px;
    background: #eee;
}

.home_services {
    padding-bottom: 4px;
}

.lg-card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lg-card-col {
    width: calc(100% / 4 - 4px);
}

.hm_serviceBox,
.servc_img {
    height: 100%;
}

.servc_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hm_serviceBox,
.servc_img {
    height: 100%;
    position: relative;
}

.hms_title {
    position: absolute;
    transform: translateX(-50%);
    bottom: 50px;
    left: 50%;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    z-index: 1;
}

.servc_img::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(180deg,
            rgba(34, 34, 34, 0) 0%,
            rgba(34, 34, 34, 0.8) 100%);
    z-index: 0;
}

.doss-featured {
    margin: 120px 0;
}

.doss-container {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.doss-featured-box {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.doss-featured-col {
    width: 50%;
}

.doss-featured-img {
    width: 100%;
    height: 100%;
}

.doss-featured-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doss-featured-col .content-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.fearured-rich-text {
    margin: 40px 0;
}

.fearured-rich-text h6 {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 13px;
}

/* ---------------------------about section ------------------------- */
.about-banner {
    position: relative;
    padding-top: 31%;
    min-height: 300px;
}

.about-banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    width: 100%;
}

.about-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--Soft-black);
    opacity: 0.6;
    z-index: 1;
}

.testimonial {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
}

.testimonial .fearured-title {
    padding: 25px 0;
    color: #fff;
}

.testimonial .fearured-title span {
    color: #009899;
}

.testimonial .testimonial-box {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.testimonial .testimonial-box .testimonial-content {
    text-align: center;
}

/* ---------------------------about section ------------------------- */

/* ---------------------------type tempate section ------------------------- */
.type-temp h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    width: 100%;
}

.type-temp h2 {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.type-temp .fearured-rich-text {
    margin: 20px 0;
}

.why-choose-us {
    background: #fafafa;
    padding: 64px 0;
}

.why-choose-us .fearured-title span {
    color: #009899;
}

.why-choose-us .container {
    display: flex;
}

.why-choose-us ul li {
    padding: 40px;
}

.why-choose-us ul li h4 {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.why-choose-us ul li {
    position: relative;
    padding-left: 60px;
    margin-bottom: -30px;
    list-style: none;
}

.why-choose-us ul li::before {
    content: "";
    position: absolute;
    top: 21%;
    left: 5%;
    width: 25px;
    height: 25px;
    background-image: url("/assets/images/about/tick.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Console-boat-listing {
    padding: 64px;
}

.Console-boat-listing .fearured-title span {
    color: #009899;
}

.Console-boat-listing .inventory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
}

.Console-boat-listing .inventory-grid .inventory-cards .inventory-card-img img {
    width: 100%;
}

/* ---------------------------type tempate section ------------------------- */
/* ---------------------------consignment section ------------------------- */

.featured-sec .content-box h2 {
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.featured-sec .content-box {
    padding: 64px 0;
    width: 47%;
    margin: 0 auto;
}

.blrubsec h3 {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blrubsec .blurb-btn {
    margin: 40px 0;
    text-align: center;
}

.Why-Consign .testimonial-box .testimonial-content {
    text-align: left;
}

.Why-Consign .testimonial-content h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    position: relative;
}

.Why-Consign .testimonial-content h4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url("/assets/images/about/tick.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Why-Consign .Why-Consign-list {
    margin: 30px 0;
}

/* ---------------------------consignment section ------------------------- */

/* service page css start here */

.fixed-height-img {
    height: 100%;
    max-height: 480px;
    overflow: hidden;
}

.dark-sec {
    display: flex;
    flex-wrap: wrap;
}

.dark-col {
    width: calc(100% / 2);
}

.dark-sec-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.dark-sec-img .dark-sec-main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-img-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.dark-img-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dark-sec-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.trust-sporst-box {
    display: flex;
    gap: 40px;
}

.trust-sports-col ul {
    padding-left: 0;
}

.trust-sports-col ul li {
    list-style-type: none;
}

.dark-sec-content h3 {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 64px;
}

.dark-sec-content h3 strong {
    color: var(--aqua-color);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Soft-black);
}

.trust-sports-col li img {
    padding-right: 16px;
}

.trust-sports-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.trust-sports-list img {
    width: 24px;
    margin-top: 5px;
    height: 24px;
    object-fit: contain;
    margin-right: 16px;
}

.trust-sports-list p {
    color: var(--white-color);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.trust-sports-list {
    margin-bottom: 40px;
}

.service-accordion {
    display: flex;
    gap: 60px;
    max-width: calc(100% - 20%);
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-accordion-tabs {
    flex-basis: 35%;
    padding: 40px 45px 40px 45px;
    border: 2px solid var(--Soft-black);
}

.service-accordion-content {
    flex-basis: 65%;
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.desktop-content {
    display: block;
}

.accordion-tab-heading {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.accordion-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid var(--Soft-black);
    background: var(--white-color);
    padding: 15px 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion-tab.active {
    border: 1px solid var(--aqua-color);
}

.accordion-tab.active svg {
    stroke: var(--aqua-color);
}

.accordion-tab h6 {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.accordion-tab span.fa {
    font-size: 20px;
    font-weight: 600;
    color: var(--Soft-black);
}

.service-accordion-heading {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.accordion-sub-heading {
    color: #000;
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
}

.service-accordion-list {
    padding-left: 23px;
}

.service-accordion-list li {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.accordion-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-img {
    width: 100%;
    height: auto;
}

.accordion-content-box {
    display: none;
    padding-bottom: 40px;
}

.accordion-content-show {
    display: block;
}

/* -----------------------contact page -------------------------------- */

.cntactbanner-img {
    position: relative;
}

.contact-form-box {
    max-width: 680px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    position: absolute;
    right: 11%;
    top: 20%;
    padding: 24px;
}

.contact-form-box .form-box .form-row {
    gap: 0;
}

.contact-form-box button {
    border-radius: 0;
}

.contact-image img {
    object-fit: cover;
    height: 100%;
}

.contact-form .form-control {
    border: 1px solid #d9d9d9;
    border-radius: 0;
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    padding: 24px;
}

.contact-form .form-control::placeholder {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
}

.contact-info {
    max-width: 80%;
    margin: 0 auto;
}

.contact-info .info-box p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cntctdetails {
    text-align: center;
    padding: 60px 0;
}

.cntctdetails h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.cntctdetails p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* -----------------------contact page -------------------------------- */


/* repower page css start here */

.repower-container {
    width: calc(100% - 25%);
    margin: 0 auto;
}

.repower-box {
    padding: 64px 0 0 0 !important;
}

.repower-items-row {
    display: flex;
    flex-wrap: wrap;
}

.repower-featured-box {
    margin-top: 80px;
    margin-bottom: 80px;
}

.repower-item {
    width: calc(100% / 4);
    padding: 20px;
}

.motorsImageWrap {
    overflow: hidden;
    position: relative;
    padding-top: 120%;
}

.motorsImageWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primaryBlackHeading {
    color: var(--Soft-black);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding-top: 50px;
}

.headingWrap {
    padding-left: 20px;
    padding-right: 20px;
}

.outboardMotorsSection {
    padding-bottom: 80px;
}

.motorTextWrap {
    margin-top: 16px;
}

.motorsCardTitle {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.motorsCardPrice {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-form-box .form-box .form-row {
    gap: 0;
}

/* area we serve page css start here */

.central-subtitle {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 24px 0;
}

.central-subtitle span {
    color: var(--aqua-color);
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.events-title a {
    display: block;
    color: var(--Soft-black);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.events-title a:hover {
    color: var(--Soft-black);
}

.event-excerpt {
    color: var(--Soft-black);
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 40px;
}

.events-image {
    position: relative;
    padding-top: 60%;
}

.events-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events-body {
    padding: 16px;
}

.events-central-text {
    padding-bottom: 64px;
}

.events-sec {
    padding-bottom: 120px;
}

/* ----------------------------seasonal services ----------------------------- */
.Winterization-Services .doss-featured-col {
    background-color: black;
    color: #fff;
}

.Winterization-Services .doss-featured-col .content-box h3 {
    color: #009899 !important;
}

.Winterization-Services .doss-featured-col .content-box h4 {
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 0;
    margin: 0;
    color: #fff;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.Winterization-Services-list {
    padding: 20px 0;
}

.Winterization-Services-list strong {
    padding: 10px;
}

.checkservices {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 60px 0;
}

.checkservices .fearured-title {
    color: #000;
    text-align: center;
}

.checkservices .checkservices-list .checkservices-content {
    padding: 40px 0;
}

.Winterization-Services .doss-featured-col {
    background: #009899;
    color: #fff;
}

.Winterization-Services .doss-featured-col .content-box .fearured-title {
    color: #fff !important;
}

.Winterization-Services .doss-featured-col .content-box .theme-btn {
    color: #fff !important;
    border: 1px solid #fff;
}

/* ----------------------------seasonal services ----------------------------- */

@media screen and (max-width: 1600px) {
    .right-nav .right-list {
        column-gap: 50px;
    }

    .header-container {
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 1440px) {
    .header-container {
        padding-right: 50px;
        padding-left: 50px;
    }

    .right-nav .right-list {
        column-gap: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .desktop-header .centaral-nav-link {
        padding: 0 9px;
    }

    .header-logo {
        max-width: 150px;
    }

    .right-nav .right-list {
        column-gap: 15px;
    }

    .desktop-header .centaral-nav-link,
    .desktop-header .left-nav-link {
        font-size: 15px;
    }

    .right-nav .right-list li a {
        font-size: 15px;
    }

    .right-nav .right-list .location-dropdown ul {
        top: 50px;
    }
}

@media screen and (max-width: 1200px) {

    .centaral-nav-box,
    .logo-box,
    .right-nav-box {
        width: 33%;
    }

    .header-location-box p a {
        font-size: 16px;
    }

    .header-location-box h6 {
        font-size: 12px;
    }

    .header-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .right-nav .right-list .location-dropdown ul {
        top: 49px;
    }

    .desktop-header .centaral-nav-link,
    .desktop-header .left-nav-link {
        font-size: 14px;
    }

    .right-nav .right-list li a {
        font-size: 14px;
    }

    .right-nav .right-list {
        column-gap: 0;
    }
}

@media screen and (max-width: 991px) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .dropdown-header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 576px) {
    .menu-logo-box .menu-logo {
        max-width: calc(100% / 3);
    }
}



@media screen and (max-width: 500px) {
    .menu-logo-box .menu-logo {
        max-width: calc(100% / 2);
        width: 100%;
    }
}